/* 蝓ｺ譛ｬ濶ｲ螟画焚 --mc10--mc90遲画忰蟆ｾ10蜊倅ｽ阪〒騾乗�蠎ｦ(豼�＆)繧定ｪｿ謨ｴ縲--title1縺ｯ繝壹�繧ｸ繧ｿ繧､繝医Ν閭梧勹逕ｻ蜒上↓濶ｲ繧呈ｷｷ縺懊ｋ*/
/* 繝｡繧､繝ｳ逕ｻ蜒�(繝医Μ繝�辟｡縺�)繧剃ｽｿ逕ｨ縺ｮ蝣ｴ蜷医�繧ｿ繝悶Ξ繝�ヨ莉･荳九�逕ｻ蜒上ｒ逕ｨ諢上＠縲瑚｡ｨ遉ｺ縲埼∈謚槭〒蛻�ｊ譖ｿ縺医※縺上□縺輔＞
<budoux-ja>繧ｿ繧ｰ�壽枚遽閾ｪ蜍墓隼陦�(蜊倩ｪ槭�騾比ｸｭ縺ｧ謾ｹ陦後＆繧後↑縺�)
繝ｻ豎守畑繧ｯ繝ｩ繧ｹ隗｣隱ｬ
budoux��<budoux-ja>繧ｿ繧ｰ縺ｧ蝗ｲ繧 
txmc,txsc遲会ｼ壽枚蟄苓牡繧停�蝓ｺ譛ｬ濶ｲ縺ｫ螟画峩(蜊雁ｼｷ蛻ｶ)
img1-1縺ｪ縺ｩ�夂判蜒乗ｯ皮紫繧貞ｼｷ蛻ｶ縲Ｊmg3-2遲�
COVER�喨mg~縺ｮ逕ｻ蜒乗ｯ皮紫縺ｫ蜷医ｏ縺帙※繝医Μ繝溘Φ繧ｰ
img30縺ｪ縺ｩimg20~60�喨t01 ti01縺ｧ逕ｻ蜒上し繧､繧ｺ繧貞ｼｷ蛻ｶ縲�
AIS AIC AIE :鬆�↓荳頑純縺医∽ｸｭ螟ｮ謠�∴縲∽ｸ区純縺医∫┌縺励�AIS縺ｫ鬘樔ｼｼ
縺昴�莉紋ｽ咏區
mt20:20px   mt1e:荳譁�ｭ怜�   mt1p:1% */
:root{
        --title1:var(--wh70);
        --linkC:var(--ac);
        
        --mc:#e5a1a5;/* 繝斐Φ繧ｯ */ 
        --sc:#c3a919;/* 驥� */ 
        --bc:#fff0f1;/* 阮�ヴ繝ｳ繧ｯ */
        --ac:#51c0b4;/* 繧ｨ繝｡繝ｩ繝ｫ繝� */ 
        --tx:#250e02;/* 譁�ｭ苓牡  */
        --gr:#f2f2f2;/* 繧ｰ繝ｬ繧､ */ 
        --bk:#000;
        --wh:#fff; 
      
      
      }
      /*繝壹�繧ｸ繧ｿ繧､繝医Ν閭梧勹逕ｻ蜒� 縲blend-mode>豺｡濶ｲlighten豼�牡multiply */
      .title1{
        background-blend-mode: lighten;
        background-position: center;
      
        /* background-image: url(/images/home/title1.png); */
        /* background-size: auto 70%; */
        /* background-position: 90%; */
        /* background-image: url(/images/home/title1.jpg); */
      }
      /* 荳句ｱ､card~縺ｮ逕ｻ蜒乗ｯ皮紫 */
      :where(html:not(.home) [class*=card]) img{
        /* aspect-ratio: 3/2; */
        background-color: var(--gr);
      }
      /*笳銀雷px莉･荳九〒mv逕ｻ蜒上�荳ｭ螟ｮ菴咲ｽｮ繧定ｪｿ謨ｴ*/
      /* @media (max-width: 834px){
          #contents :is(.mv_slide,.mv_img) :is(img,video){
              object-position: 0%;
          }
      }  */