@charset "utf-8";

#c4 {
	clear: both;
	background-color: var(--bc);
	margin:    ;
	padding:    ;
}
#c86 {
	clear: both;
	margin:    ;
	padding:    ;
	width: 80%;
}
#c86 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c86 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c87 {
	clear: both;
	display: none;
	margin:    ;
	padding:    ;
}
#c87 {
	flex-direction: row;
	flex-wrap: wrap;
}
#c87 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c40 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c40 h3,
#c40 div {
	text-align: left;
}
#c5 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c91 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c91 h3,
#c91 div {
	text-align: left;
}
#c64 {
	clear: both;
	background-color: var(--bc);
	margin:    ;
	padding:    ;
}
#c65 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c65 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c65 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c65 > div:nth-of-type(1) img {
	width: 167px;
}
#c65 > div:nth-of-type(2) img {
	width: 191px;
}
#c65 > div:nth-of-type(3) img {
	width: 135px;
}
#c89 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c89 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c89 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c89 > div:nth-of-type(1) img {
	width: 120px;
}
#c89 > div:nth-of-type(2) img {
	width: 120px;
}
#c89 > div:nth-of-type(3) img {
	width: 120px;
}
#c89 > div:nth-of-type(4) img {
	width: 120px;
}
#c89 > div:nth-of-type(5) img {
	width: 120px;
}
#c90 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c90 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c90 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c90 > div:nth-of-type(1) img {
	width: 120px;
}
#c90 > div:nth-of-type(2) img {
	width: 120px;
}
#c90 > div:nth-of-type(3) img {
	width: 120px;
}
#c90 > div:nth-of-type(4) img {
	width: 120px;
}
#c90 > div:nth-of-type(5) img {
	width: 120px;
}
#c93 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c93 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c93 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c93 > div:nth-of-type(1) img {
	width: 900px;
}
#c93 > div:nth-of-type(2) img {
	width: 675px;
}
#c94 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c94 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c94 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c94 > div:nth-of-type(1) img {
	width: 900px;
}
#c94 > div:nth-of-type(2) img {
	width: 675px;
}
#c118 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c118 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c118 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c118 > div:nth-of-type(1) img {
	width: 900px;
}
#c118 > div:nth-of-type(2) img {
	width: 191px;
}
#c118 > div:nth-of-type(3) img {
	width: 135px;
}
#c118 > div:nth-of-type(4) img {
	width: 135px;
}
#c118 > div:nth-of-type(5) img {
	width: 135px;
}
#c67 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c41 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c41 a.itext, #c41 img, #c41 video {
	width: 900px;
	height: 600px;
}
#c41 h2,
#c41 div {
	text-align: left;
}
#c92 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c92 a.itext, #c92 img, #c92 video {
	width: 900px;
	height: 600px;
}
#c92 h2,
#c92 div {
	text-align: left;
}
#c97 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c97 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c97 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c97 > div:nth-of-type(2) img {
	width: 900px;
}
#c98 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c98 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c98 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c98 > div:nth-of-type(1) img {
	width: 900px;
}
#c98 > div:nth-of-type(2) img {
	width: 900px;
}
#c99 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c99 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#c99 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#c99 > div:nth-of-type(1) img {
	width: 900px;
}
#c99 > div:nth-of-type(2) img {
	width: 900px;
}
#c82 {
	clear: both;
	margin: 20px auto  ;
	padding:    ;
	width: 960px;
	height: 5em;
}
#c82 dl dt {
	border-color: var(--ac20);
	color: var(--ac);
	width: 20%;
}
#c82 dl dd {
	border-color: var(--ac20);
	width: 80%;
}
#c96 {
	clear: both;
	margin: 20px auto  ;
	padding:    ;
	width: 960px;
	height: 12em;
}
#c96 dl dt {
	background-color: var(--mc);
	color: var(--wh);
	width: 20%;
}
#c96 dl dd {
	border-color: var(--mc);
	width: 80%;
}
#c100 {
	clear: both;
	margin: 20px auto  ;
	padding:    ;
	width: 960px;
	height: 12em;
}
#c100 dl dt {
	background-color: var(--mc);
	color: var(--wh);
	width: 20%;
}
#c100 dl dd {
	border-color: var(--mc);
	width: 80%;
}
#c101 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c101 h2,
#c101 div {
	text-align: left;
}
#c102 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c102 h2,
#c102 div {
	text-align: left;
}
#c103 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c103 h2,
#c103 div {
	text-align: left;
}
#c116 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c116 h3,
#c116 div {
	text-align: left;
}
#c117 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c117 h3,
#c117 div {
	text-align: left;
}
#c104 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c104 h3,
#c104 div {
	text-align: left;
}
#c115 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c115 h3,
#c115 div {
	text-align: left;
}
#c107 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c109 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c109 h2,
#c109 div {
	text-align: left;
}
#c110 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c110 a.itext, #c110 img, #c110 video {
	width: 900px;
	height: 450px;
}
#c108 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c111 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c112 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c112 h2,
#c112 div {
	text-align: left;
}
#c113 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c113 a.itext, #c113 img, #c113 video {
	width: 900px;
	height: 450px;
}
#c114 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c105 {
	clear: both;
	background-color: var(--bc);
	margin:    ;
	padding:    ;
}
#c119 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c119 h3,
#c119 div {
	text-align: left;
}
#c106 {
	clear: both;
	margin:    ;
	padding:    ;
}
@media screen and (min-width: 641px) and (max-width: 834px) {
#c4 {
}
#c86 {
	width: auto;
	max-width: 80%;
}
#c86 {
}
#c87 {
	display: none;
}
#c87 {
}
#c40 {
}
#c5 {
}
#c91 {
}
#c64 {
}
#c65 {
}
#c65 {
}
#c89 {
}
#c89 {
}
#c90 {
}
#c90 {
}
#c93 {
}
#c93 {
}
#c94 {
}
#c94 {
}
#c118 {
}
#c118 {
}
#c67 {
}
#c41 {
}
#c92 {
}
#c97 {
}
#c97 {
}
#c98 {
}
#c98 {
}
#c99 {
}
#c99 {
}
#c82 {
	width: auto;
	max-width: 960px;
}
#c96 {
	width: auto;
	max-width: 960px;
}
#c100 {
	width: auto;
	max-width: 960px;
}
#c101 {
}
#c102 {
}
#c103 {
}
#c116 {
}
#c117 {
}
#c104 {
}
#c115 {
}
#c107 {
}
#c109 {
}
#c110 {
}
#c108 {
}
#c111 {
}
#c112 {
}
#c113 {
}
#c114 {
}
#c105 {
}
#c119 {
}
#c106 {
}
}
@media screen and (max-width: 640px) {
#c4 {
}
#c86 {
	width: 100%;
}
#c86 {
}
#c87 {
	display: none;
}
#c87 {
}
#c40 {
}
#c5 {
}
#c91 {
}
#c64 {
}
#c65 {
}
#c65 {
}
#c89 {
}
#c89 {
}
#c90 {
}
#c90 {
}
#c93 {
}
#c93 {
}
#c94 {
}
#c94 {
}
#c118 {
}
#c118 {
}
#c67 {
}
#c41 {
}
#c92 {
}
#c97 {
}
#c97 {
}
#c98 {
}
#c98 {
}
#c99 {
}
#c99 {
}
#c82 {
	width: 100%;
	height: auto;
}
#c96 {
	width: 100%;
	height: auto;
}
#c100 {
	width: 100%;
	height: auto;
}
#c101 {
}
#c102 {
}
#c103 {
}
#c116 {
}
#c117 {
}
#c104 {
}
#c115 {
}
#c107 {
}
#c109 {
}
#c110 {
}
#c108 {
}
#c111 {
}
#c112 {
}
#c113 {
}
#c114 {
}
#c105 {
}
#c119 {
}
#c106 {
}
}