@use "mixin" as *;

// IntersectionObserver addClass'show' 画面内に入った時表示するクラスの設定
:root{
    --trt:translate 1.2s,opacity 1.2s ,clip-path 1.2s ,filter 1.2s ,scale 1.8s ;
    --jsBlur:0px;
    --transX: 6vmin;
    --transY: 6vmin;
    --bounce: linear(0, 1.3, 0.9, 1.05, 0.98, 1.02, 1, 1) ;
}
[class*=js-],[class*=js-ch]>*{//リスト系のTRディレイ
    @for $i from 1 through 9 {
		&.show:nth-child(#{$i}){
            transition-delay: #{$i*0.1 - 0.1}s;
            &:is(section>*,form>*){
                transition-delay: 0s!important;
            }
        }
	}
}
.js-{
    &left,&right,&top,&bottom,
    &chB>*,&chL>*,&chR>*,&chT>*
    // &artB article>*,&artL article>*,&artR article>*
    {
        transition: var(--trt);
        opacity: 0;
        filter: blur(var(--jsBlur)) ;
        &.show{
            opacity: 1;
            translate: none;
            filter: unset;
        }
    }
    &hide
    {
        filter: blur(var(--jsBlur)) ;
        opacity: 0;
        transition:var(--trt);
        &.show{
            opacity: 1;
            filter: unset;
        }
    }
    &cpL,&cpR
    {
        transition: var(--trt);
        opacity: 0;
        &.show{
            translate: none;opacity: 1;filter: unset;
        }
    }
    &scale
    {
        opacity: 0;
        transition:scale 1.8s, opacity 1.2s .4s!important;
        scale: .8;
        &.show{
            opacity: 1;
            scale: 1;
        }
    }
    &left,&chL>*{
        translate: calc(var(--transX)*-1);
    }
    &right,&chR>*{
        translate: var(--transX)
    }
    &bottom,&chB>*{
        translate: 0 var(--transY);
    }
    &top,&chT>*{
        translate: 0 calc(var(--transY)*-0.5);
    }
}
.js-cpL {clip-path: inset(0 95% 0 0);}
.js-cpR {clip-path: inset(0  0 0 95%);}
.js-cpT {clip-path: inset(0  0 50% 0);}
.js-cpB {clip-path: inset(95% 0  0 0);}
.js-cpL ,
.js-cpR ,
.js-cpT ,
.js-cpB {
    transition: var(--trt);
    opacity: 0;
    &.show{
        opacity: 1;
        clip-path: inset(0);
    } 
}


.js-letter{//文字分割用
    @for $i from 1 through 60 {
		&.show :is(h1,h2,h3)>*:nth-child(#{$i}){
            transition-delay: #{$i*0.05 + 0.05}s;
        }
	}
}
.js-letter{
    :is(h1,h2,h3)>*{
        opacity: 0;
        transition: .6s;
    }
    &.show :is(h1,h2,h3)>*{
        opacity: 1;
    }
    opacity: 0;
    transition:var(--trt);
    &.show{
        opacity: 1;
        --jsBlur:0px;
    }
}
// .js-bgFix{
//     z-index: 1;
//     display: flex;
//     flex-direction: column;
//     padding-inline: var(--inline);
//     >*{margin-inline: auto;position: relative;
//         max-width: unset;
//     }
//     transition: 1s;
//     &:has(+.js-bgFix.show){
//         opacity: 0;
//     } 
//     .bgFix{
//         position: fixed;
//         opacity: 0;pointer-events: none;
//     }
//     &.show .bgFix{
//         opacity: 1;
//     }
//     .bgFix {
//         margin-top: unset;
//         background: no-repeat center / cover;
//         +*{margin-top: unset;}
        
//         @media (max-width : 960px){
//             background: no-repeat 0 0 /cover;
//         }
//     }
// }