@charset "utf-8";

$output: "tailwind" !default; // "tailwind" または "simple"

@mixin where {
    @if $output == "tailwind" {
        // Tailwind環境：@layer componentsに入れて、現在のセレクタを定義
        @at-root {
            @layer components {
                #{&} { @content; }
            }
        }
    } @else {
        // 標準環境：詳細度を0にするため、現在のセレクタを :where() でラップ
        @at-root :where(#{&}) {
            @content;
        }
    }
}
$menu: 834px;
@mixin menu {@media screen and (max-width: $menu) {@content;}}
@mixin tab {@media screen and (max-width: 834px) {@content;}}
@mixin sp {@media screen and (max-width: 640px) {@content;}} 
@mixin max-md {@media (max-width: 767px) {@content;}}
@mixin max-sm {@media (max-width: 639px) {@content;}}
@mixin max-xs {@media (max-width: 479px) {@content;}}

// ******************font
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{//font
    --Higo: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Meiryo", "Noto Sans JP", sans-serif;
    --Himi: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Yu Mincho", "MS PMincho", "Noto Serif JP", serif;
    --Yugo:"Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "Noto Sans JP", sans-serif;
    --Yumi: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", "Noto Serif JP", serif;
    --Tnr:'Times New Roman', Times, "Noto Serif JP",  sans-serif;

    --Ser: "Noto Serif JP",  serif;
    --San: "Noto Sans JP",  sans-serif;
    
    --Sora:"Plus Jakarta Sans","Noto Sans JP",  sans-serif;
    
    // --bodyFF:  YakuHanJP_Narrow,"Noto Sans JP",  sans-serif;
    --bodyFF:  "Plus Jakarta Sans","Noto Sans JP",  sans-serif;
    --Eng:"Plus Jakarta Sans","Noto Sans JP",  sans-serif;
}

.Ser{font-family: var(--Ser);}
.San{font-family: var(--San);}
.Eng{font-family: var(--Eng);}




